<h1>All articles listing page</h1>

<main class="container-fluid d-flex p-5 flex-wrap gap-4">
    <%= render 'article'%>
</main>

<div class="flickr_pagination">
        <%= will_paginate @articles, :container => false %>
</div>

<div class="container-fluid p-5">
    <%= link_to 'Create new article', new_article_path, class: "btn btn-primary" %>
</div>


